@inherits LayoutComponentBase

@inject AuthService AuthService
@inject IConfiguration Config

<PageTitle>@AppName</PageTitle>

<CascadingValue Value="this">
	<NavMenu />
	<main class="container px-6 max-w-6xl mx-auto py-12">
		@Body
	</main>
</CascadingValue>

@code
{
	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;
	public User? User = new();

	public string AppName = "";

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateTask;

		if (authState.User.Identity?.IsAuthenticated is true)
		{
			User = await AuthService.GetAuthenticatedUser();
		}

		AppName = Config.GetValue<string>("Spark:App:Name") ?? string.Empty;
	}
}
