@page "/admin/dashboard"
@attribute [Authorize]

<PageTitle>Admin Dashboard</PageTitle>

<MudContainer Class="mt-4">
	<article>
		<AuthorizeView Roles="@CustomRoles.Admin">
			<Authorized>
				<MudText Typo="Typo.h2">Admin Dashboard</MudText>
			</Authorized>
			<NotAuthorized>
				<p>Sorry, you do not have the proper permissions to access this page.</p>
			</NotAuthorized>
		</AuthorizeView>
	</article>
</MudContainer>
